<div ng-controller="exceptionsController" class="section">
    <div class="left">
        <h4>Error Detection</h4>

        <div class="content">
            <p>Now your Fruit Stand application has some problems. Click these buttons to simulate errors in the various components of the sample application, and observe how these are captures and presented.</p>
        </div>

        <br>

        <button type="button" class="gray" ng-click="raiseJavaException()" ng-disabled="raisingJava"> Generate Errors <span ng-show="getJavaExceptions() > 0"> ({{getJavaExceptions()}})</span></button>

    </div>
</div>
