<div class="section">

    <div class="left">
        <h4>Getting Started with AppDynamics Sample App</h4>

        <div class="content">
            <p>Welcome to the Sample App, a simple Fruit Stand inventory application. You'll use this app to go through some key AppDynamics concepts:</p>

            <br>

            <p><b>1. Business Transactions</b></p> 
            <p>Manage the inventory of a fruit vendor, and see how these end user operations are tracked as Business Transactions by AppDynamics.</p>

            <p><b>2. Error Detection</b></p> 
            <p>Generate different kinds of application errors, and learn how these errors are tracked by AppDynamics.</p>

            <br>

            <p><span class="keyword">AppDynamics Agents</span> that monitor this application have already been configured for this Sample Application. The agents will send performance data to your <span class="keyword">AppDynamics Controller</span>, which assembles, processes, and presents the data.</p>
        </div>

        <br>

    </div>

</div>
    <button type="button" class="blue" style="margin-top: 50px; width:256px; height: 36px; float:right" ng-click="navigateTo('fruitStand')">Next &#8594;</button>